In [13]:
import pandas as pd

tableColumnNames = {}

In [ ]:
projects = pandas.read_csv('../data/opendata_projects000.gz', escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [38]:
tableColumnNames['Projects'] = list(projects.columns.values)

In [24]:
projects.shape

(1203287, 44)

In [22]:
projects[pandas.DatetimeIndex(projects['date_posted']).year == 2015].shape

(192372, 44)

In [23]:
projects.head(1)

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,5c43ef5eac0f5857c266baa1ccfa3d3f,9e72d6f2f1e9367b578b6479aa5852b7,3.600097e+11,40.688454,-73.910432,New York City,NY,11207.0,urban,...,0.0,251.9,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-27 00:00:00,2003-12-31 00:00:00

In [4]:
donations = pandas.read_csv('../data/opendata_donations000.gz', escapechar='\\', names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 'donation_to_project', 'donation_optional_support', 'donation_total', 'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched', 'is_teacher_referred', 'giving_page_id', 'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

In [5]:
donations.shape

(6211956, 23)

In [39]:
tableColumnNames['Donations'] = list(donations.columns.values)

In [16]:
resources = pandas.read_csv('../data/opendata_resources000.gz', escapechar='\\', names=['_resourceid', '_projectid', 'vendorid', 'vendor_name', 'item_name', 'item_number', 'item_unit_price', 'item_quantity'])

In [17]:
resources.shape

(7274265, 8)

In [40]:
tableColumnNames['Resources'] = list(resources.columns.values)

In [19]:
resources.head(5)

,_resourceid,_projectid,vendorid,vendor_name,item_name,item_number,item_unit_price,item_quantity
0,64a5f95dc28adf96f9135c2d5e373ec0,e565fb42185c6e9f22806ad9d5ac8a77,NaN,NaN,NaN,NaN,NaN,NaN
1,f320aa880b087ab56d64d43a8b51064a,76108ed46f99f27beb4c605b69c92b07,NaN,NaN,NaN,NaN,NaN,NaN
2,a0b3975870878082c138e239749108ba,2568882e4906849754bbe7246d01ed5e,NaN,NaN,NaN,NaN,NaN,NaN
3,fa9347e81b41ca8b46fc4ff801e23451,e49f6d07f9da7086d2d823311639f479,NaN,NaN,NaN,NaN,NaN,NaN
4,18c5bed0e156ebdf4b5edc277a1c1e9c,548b161b4e808fb580075e03774da1b9,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
essays = pandas.read_csv('../data/opendata_essays000.gz', escapechar='\\', names=['_projectid', '_teacherid', 'title', 'short_description', 'need_statement', 'essay', 'thankyou_note', 'impact_letter'])

In [21]:
essays.head(1)

,_projectid,_teacherid,title,short_description,need_statement,essay,thankyou_note,impact_letter
0,0000023f507999464aa2b78875b7e5d6,5ac258059d9c4fc4db5c1a92b7204db0,GOAL: Ordinary Students --> SUCCESSFUL SCIENTISTS,The first step towards academic achievement is...,"My students need Pencils, Crayons, Gluesticks,...",The first step towards academic achievement is...,<br><br>Thank you so much for donating to this...,NaN

In [22]:
essays.shape

(1203100, 8)

In [41]:
tableColumnNames['Essays'] = list(essays.columns.values)

In [24]:
giving_pages = pandas.read_csv('../data/opendata_giving_pages000.gz', escapechar='\\', names=['giving_page_id', '_creator_acctid', 'created_date', 'is_active', 'most_recent_donation', 'amount_raised', 'number_of_donors', 'number_of_students', 'number_of_projects_supported', 'number_of_teachers', 'number_of_schools'])

In [25]:
giving_pages.shape

(789501, 11)

In [42]:
tableColumnNames['Giving Pages'] = list(giving_pages.columns.values)

In [12]:
giving_pages.head(5)

,giving_page_id,_creator_acctid,created_date,is_active,most_recent_donation,amount_raised,number_of_donors,number_of_students,number_of_projects_supported,number_of_teachers,number_of_schools
0,0000180e94707c0d90547614c17076bf,15ba92016a083858392a0883f9fd1057,2013-09-08 19:24:08.728,t,2015-10-24 16:54:25.986,25.0,2,0,0,0,0
1,0000193a728fd00b6cff91b8840bbf8d,117ee77f874937a5d3156c705eb85165,2013-07-09 09:41:18.198,t,NaN,0.0,0,0,0,0,0
2,000061ca392edb3936f99354736e76dc,c6627bc165747943871ecc23754316d8,2014-10-20 10:49:13.774,t,NaN,0.0,0,0,0,0,0
3,000077ae34530a3bd7c14e700be2a9ec,bf90729de603cd9e805fbde95314127e,2016-01-12 10:33:05.443,t,NaN,0.0,0,0,0,0,0
4,00007c55a9a7591b98a76d79216c9112,47627720e8e31ef5a2670d2d03a40778,2010-11-24 00:00:00,t,NaN,0.0,0,0,0,0,0

In [27]:
giving_page_projects = pandas.read_csv('../data/opendata_giving_page_projects000.gz', escapechar='\\', names=['giving_page_id', '_projectid'])

In [15]:
giving_page_projects.head(5)

                     giving_page_id                        _projectid
0  0311b9f35f39862e7494395daff92bc1  0ec7e0fbeb565ec17c807bb3c10f9fa9
1  fb5684aaed6866a91b1000c4532c9cc4  7c39e29efa29387659fffba5f71aa24c
2  f5d5ca085fa8c4164214646bbaa81795  86d39959e17607c06aafdba68a7b2483
3  0170593e85f7c6832b497338bbe426fe  36b61583ffe52c36d52c21ca7772d2bd
4  18aeafba51c88c01ffa49ca3b47a4123  3efcba1d763ffe50444d9298c6dc55d5

In [28]:
giving_page_projects.shape

(1047031, 2)

In [43]:
tableColumnNames['Giving Page Projects'] = list(giving_page_projects.columns.values)

In [34]:
giftcards = pandas.read_csv('../data/opendata_giftcards000.gz', escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', '_recipient_acctid', 'recipient_city', 'recipient_state', 'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])

C:\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
giftcards.head(1)

,_giftcardid,dollar_tier,_buyer_acctid,buyer_city,buyer_state,buyer_zip,date_purchased,_buyer_cartid,_recipient_acctid,recipient_city,recipient_state,recipient_zip,redeemed,date_redeemed,_redeemed_cartid,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched
0,2c7eceecfe1e850f5613f8a8a6b18b49,100_and_up,38c31e2d6ac60ba4ee73c8645237b6b5,Brooklyn,NY,112.0,2003-04-01,NaN,5f164da2f910282ce24a8b8bc9ef141f,Brooklyn,NY,112.0,t,2003-04-01 00:00:00,NaN,check,f,f,f,f

In [36]:
giftcards.shape

(1053024, 20)

In [44]:
tableColumnNames['Giftcards'] = list(giftcards.columns.values)

In [45]:
tableColumnNames

{'Projects': ['_projectid',
  '_teacher_acctid',
  '_schoolid',
  'school_ncesid',
  'school_latitude',
  'school_longitude',
  'school_city',
  'school_state',
  'school_zip',
  'school_metro',
  'school_district',
  'school_county',
  'school_charter',
  'school_magnet',
  'school_year_round',
  'school_nlns',
  'school_kipp',
  'school_charter_ready_promise',
  'teacher_prefix',
  'teacher_teach_for_america',
  'teacher_ny_teaching_fellow',
  'primary_focus_subject',
  'primary_focus_area',
  'secondary_focus_subject',
  'secondary_focus_area',
  'resource_type',
  'poverty_level',
  'grade_level',
  'vendor_shipping_charges',
  'sales_tax',
  'payment_processing_charges',
  'fulfillment_labor_materials',
  'total_price_excluding_optional_support',
  'total_price_including_optional_support',
  'students_reached',
  'total_donations',
  'num_donors',
  'eligible_double_your_impact_match',
  'eligible_almost_home_match',
  'funding_status',
  'date_posted',
  'date_completed',
  'date_thank_you_packet_mailed',
  'date_expiration'],
 'Donations': ['_donationid',
  '_projectid',
  '_donor_acctid',
  '_cartid',
  'donor_city',
  'donor_state',
  'donor_zip',
  'is_teacher_acct',
  'donation_timestamp',
  'donation_to_project',
  'donation_optional_support',
  'donation_total',
  'donation_included_optional_support',
  'payment_method',
  'payment_included_acct_credit',
  'payment_included_campaign_gift_card',
  'payment_included_web_purchased_gift_card',
  'payment_was_promo_matched',
  'is_teacher_referred',
  'giving_page_id',
  'giving_page_type',
  'for_honoree',
  'thank_you_packet_mailed'],
 'Resources': ['_resourceid',
  '_projectid',
  'vendorid',
  'vendor_name',
  'item_name',
  'item_number',
  'item_unit_price',
  'item_quantity'],
 'Essays': ['_projectid',
  '_teacherid',
  'title',
  'short_description',
  'need_statement',
  'essay',
  'thankyou_note',
  'impact_letter'],
 'Giving Pages': ['giving_page_id',
  '_creator_acctid',
  'created_date',
  'is_active',
  'most_recent_donation',
  'amount_raised',
  'number_of_donors',
  'number_of_students',
  'number_of_projects_supported',
  'number_of_teachers',
  'number_of_schools'],
 'Giving Page Projects': ['giving_page_id', '_projectid'],
 'Giftcards': ['_giftcardid',
  'dollar_tier',
  '_buyer_acctid',
  'buyer_city',
  'buyer_state',
  'buyer_zip',
  'date_purchased',
  '_buyer_cartid',
  '_recipient_acctid',
  'recipient_city',
  'recipient_state',
  'recipient_zip',
  'redeemed',
  'date_redeemed',
  '_redeemed_cartid',
  'payment_method',
  'payment_included_acct_credit',
  'payment_included_campaign_gift_card',
  'payment_included_web_purchased_gift_card',
  'payment_was_promo_matched']}

In [58]:
import xlsxwriter

In [59]:
workbook = xlsxwriter.Workbook('Data Columns.xlsx')
worksheet = workbook.add_worksheet()

In [60]:


for key in tableColumnNames.keys():
    row = 0
    worksheet.write(row, col, key)
    for item in tableColumnNames[key]:
        row += 1
        worksheet.write(row, col, item)
        
    col = col+1

workbook.close()